# 0.0 Imports

In [11]:
import math
import pandas as pd
import inflection

## 0.1. Helper Functions

## 0.2. Loading Data

In [2]:
df_sales_raw = pd.read_csv( '/home/luis/DataScience_Em_Producao/data/train.csv', low_memory=False)
df_store_raw = pd.read_csv( '/home/luis/DataScience_Em_Producao/data/store.csv', low_memory=False)

#merge

df_raw = pd.merge(df_sales_raw, df_store_raw, how='left', on='Store')

In [3]:
df_raw.sample()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
300371,488,5,2014-10-24,3485,352,1,1,0,1,a,c,2890.0,4.0,2014.0,0,NaN,NaN,NaN

# 1.0 DESCRIÇÃO DOS DADOS

In [5]:
df1= df_raw.copy()

## 1.1. Rename Columns

In [14]:
cols_old = ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval']

snakecase = lambda x: inflection.underscore( x )
cols_new = list( map( snakecase, cols_old ) )

#rename
df1.columns = cols_new

## 1.2. Data Dimensions

In [15]:
print( 'Number of Rows: {}'.format( df1.shape[0] ) )
print( 'Number of Columns: {}'.format( df1.shape[1] ) )

Number of Rows: 1017209
Number of Columns: 18

## 1.3. Data Types

In [16]:
df1['date'] = pd.to_datetime( df1['date'] )
df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
dtype: object

## 1.4. Check NA

In [17]:
df1.isna().sum()

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance                 0
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64

## 1.5. Fillout NA

In [18]:
df1['competition_distance'].max()

200000.0

In [19]:
df1.sample()

,store,day_of_week,date,sales,customers,open,promo,state_holiday,school_holiday,store_type,assortment,competition_distance,competition_open_since_month,competition_open_since_year,promo2,promo2_since_week,promo2_since_year,promo_interval
981543,14,5,2013-02-01,5998,687,1,0,0,0,a,a,1300.0,3.0,2014.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct"

In [26]:
#competition_distance
df1['competition_distance'] = df1['competition_distance'].apply( lambda x: 200000.0 if math.isnan( x ) else x )

#competition_open_since_month
df1['competition_open_since_month'] = df1.apply( lambda x: x['date'].month if math.isnan( x['competition_open_since_month'] ) else x['competition_open_since_month'], axis=1)
#competition_open_since_year
df1['competition_open_since_year'] = df1.apply( lambda x: x['date'].year if math.isnan( x['competition_open_since_year'] ) else x['competition_open_since_year'], axis=1)

#promo2


#promo2_since_week
df1['promo2_since_week'] = df1.apply( lambda x: x['date'].week if math.isnan( x['promo2_since_week'] ) else x['promo2_since_week'], axis=1)

#promo2_since_year
df1['promo2_since_year'] = df1.apply( lambda x: x['date'].year if math.isnan( x['promo2_since_year'] ) else x['promo2_since_year'], axis=1)

#promo_interval
month_map = {1: 'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May',6 :'Jun', 7:'Jul', 8:'Aug', 9:'Sep', 10:'Oct', 11:'Nov', 12:'Dec'}

df1['promo_interval'].fillna(0, inplace=True)

df1['month_map'] = df1['date'].dt.month.map( month_map )

In [28]:
df1.sample(5).T

,894299,445565,2848,619586,906759
store,855,351,619,432,1050
day_of_week,7,3,3,1,3
date,2013-04-21 00:00:00,2014-05-28 00:00:00,2015-07-29 00:00:00,2013-12-23 00:00:00,2013-04-10 00:00:00
sales,0,6585,5278,14514,6776
customers,0,545,481,1890,469
open,0,1,1,1,1
promo,0,0,1,0,1
state_holiday,0,0,0,0,0
school_holiday,0,0,0,1,0
store_type,a,a,a,a,d
assortment,a,a,a,a,c
competition_distance,3440,5290,1600,810,13170
competition_open_since_month,4,11,6,5,8
competition_open_since_year,2013,2012,2006,2013,2014
promo2,1,1,1,0,1
promo2_since_week,45,5,45,52,9
promo2_since_year,2009,2013,2009,2013,2011
promo_interval,"Feb,May,Aug,Nov","Feb,May,Aug,Nov","Feb,May,Aug,Nov",0,"Mar,Jun,Sept,Dec"
month_map,Apr,May,Jul,Dec,Apr

# 1.1.

# 1.1.

# 1.1.